.content {
    margin: auto;
    padding: 10px;
    text-align: justify;
    width: 50%;
    height: 15%;
     }

.border {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding: 20px;
    background-color: whitesmoke;
    color: #293e44;
    overflow: auto;
}
#palindrome {
    text-align: center;
    font-style: italic;
}

.palindromeTest {
    font-size: 50px;
}

#textbox {
    width: 60%;
    height: 25px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    border: 0;
    background-color: rgb(33, 181, 240);
    color: whitesmoke;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: rgb(33, 181, 240)
}