.header {
  top: 0;
  height: 100px;
  background: #000000;
}
.button {
  float: right;
  background-color: goldenrod;
  color: burlywood;
  padding: 15px 25 px;
  font-size: 20px;
  }
.button:hover {
  background-color: cyan;
}