.footer {
    margin: 0 auto;
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding-top: 25px;
    position: fixed;
    bottom: -0%;
    box-sizing: border-box;
    height: 100px;
    width: 112.5%;
    background: #293e44;
    color: whitesmoke;
    align-items: flex-end;    
}

.button {
  margin: 0 auto;
  padding: 15px 25 px;
  position: relative;
  left: 50px;
  background-color: whitesmoke;
  color: rgb(33, 181, 240);
  font-size: 20px;
}