<div class="login-page">   

    <div class="card">   
         <form class="new-user" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
             <h1>Create New User</h1>
             <label for="fname">First Name: </label>
             <input type="text" id="firstName" formControlName="firstName" placeholder="Enter first name..." required="" autofocus="">
             </div>
             <br>
             <label for="lname">Last Name: </label>
             <input type="text" id="lastName" formControlName="lastName" placeholder="Enter last name..." required="" autofocus="">
             <br>
             <label for="username">Username: </label>
             <input type="text" id="username" formControlName="username" required="" autofocus="">
             <br>
             <label for="email">Email Address: </label>
             <input type="text" id="email" formControlName="email" required="" autofocus="">
             <br>
             <label for="email">Re-enter Email: </label>
             <input type="text" id="ConfirmEmail" formControlName="confirmEmail" required="" autofocus="">
             <br>
             <label for="newpassword">Enter Password: </label>
             <input type="password" id="password" formControlName="password" required="" autofocus="">
             <br>
             <label for="newpassword">Confirm Password: </label>
             <input type="password" id="ConfirmPassword" formControlName="confirmPassword" required="" autofocus="">
             <br>
             <button class="button" type="submit">Submit!</button>
            
         </form>
    </div> 

 </div>