<div class="row">
    <div class="column">
        <div class="login-page">
            <div class="card">
                <h1>Current User Login</h1>
                <form class="current-user">
                    <label for="username">Username: </label>
                    <input type="text" id="formbox">
                    <br>
                    <label for="password">Password: </label>
                    <input type="password" id="formbox">
                    <br>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>        
        <br> <!-- adding cards to seperate -->
            <div class="card">   
                <form class="new-user">
                    <h1>Create New User</h1>
                    <label for="fname">First Name: </label>
                    <input type="text" id="formbox" placeholder="Enter first name...">
                    <br>
                    <label for="lname">Last Name: </label>
                    <input type="text" id="formbox" placeholder="Enter last name...">
                    <br>
                    <label for="username">Username: </label>
                    <input type="text" id="formbox">
                    <br>
                    <label for="email">Email Address: </label>
                    <input type="text" id="formbox">
                    <br>
                    <label for="email">Re-enter Email: </label>
                    <input type="text" id="formbox">
                    <br>
                    <label for="newpassword">Enter Password: </label>
                    <input type="password" id="formbox">
                    <br>
                    <label for="newpassword">Re-enter Password: </label>
                    <input type="password" id="formbox">
                    <br>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>    
        </div>
    </div>    
</div>    