* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.app{
    text-align: center;
    background-color: rgb(33, 181, 240);
    color: whitesmoke;
}

html, body{
    height: 100%;
}

h1{
    font-family: 'Times New Roman', Times, serif
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
    width: 80px;
    border-radius: 5px;
    height: 30px;
    
}